
CREATE TABLE bruker
(id INT NOT NULL,
bruker VARCHAR(15) NOT NULL,
passord VARCHAR(30) NOT NULL,
CONSTRAINT User_PK PRIMARY KEY(id)
)ENGINE = InnoDB DEFAULT CHARSET=latin1;

CREATE TABLE user
(userID INT NOT NULL,
name VARCHAR(15) NOT NULL,
CONSTRAINT User_PK PRIMARY KEY(userID)
)ENGINE = InnoDB DEFAULT CHARSET=latin1;

CREATE TABLE course
(courseID INT NOT NULL,
code VARCHAR(7) NOT NULL,
name VARCHAR(60) NOT NULL,
CONSTRAINT Course_PK PRIMARY KEY(courseID)
)ENGINE = InnoDB DEFAULT CHARSET = latin1;

CREATE TABLE lecture
(lectureID INT NOT NULL,
courseID INT NOT NULL,
number INT NOT NULL,
name VARCHAR(60) NOT NULL,
CONSTRAINT Lecture_PK PRIMARY KEY(lectureID),
CONSTRAINT Lecture_FK FOREIGN KEY(courseID) REFERENCES course(courseID) ON DELETE CASCADE ON UPDATE CASCADE
)ENGINE = InnoDB DEFAULT CHARSET=latin1;

CREATE TABLE topic
(topicID INT NOT NULL,
lectureID INT NOT NULL,
number INT NOT NULL,
name VARCHAR(60) NOT NULL,
CONSTRAINT Topic_PK PRIMARY KEY(topicID),
CONSTRAINT Topic_FK FOREIGN KEY(lectureID) REFERENCES lecture(lectureID) ON DELETE CASCADE ON UPDATE CASCADE
)ENGINE = InnoDB DEFAULT CHARSET=latin1;

CREATE TABLE question
(questionID INT NOT NULL,
topicID INT NOT NULL,
userID INT NOT NULL,
question TEXT NOT NULL,
answer TEXT,
CONSTRAINT Question_PK PRIMARY KEY(questionID),
CONSTRAINT QuestionTopic_FK FOREIGN KEY(topicID) REFERENCES topic(topicID) ON DELETE CASCADE ON UPDATE CASCADE,
CONSTRAINT QuestionUser_FK FOREIGN KEY(userID) REFERENCES user(userID) ON DELETE CASCADE ON UPDATE CASCADE
)ENGINE = InnoDB DEFAULT CHARSET=latin1;

CREATE TABLE rating
(ratingID INT NOT NULL,
topicID INT NOT NULL,
userID INT NOT NULL,
stars INT(1) NOT NULL,
CONSTRAINT Rating_PK PRIMARY KEY(ratingID),
CONSTRAINT Rating_Topic_FK FOREIGN KEY(topicID) REFERENCES topic(topicID) ON DELETE CASCADE ON UPDATE CASCADE,
CONSTRAINT Rating_User_FK FOREIGN KEY(userID) REFERENCES user(userID) ON DELETE CASCADE ON UPDATE CASCADE
)ENGINE = InnoDB DEFAULT CHARSET=latin1;


INSERT INTO user(userID, name)
VALUES
(1, 'Preference'),
(5, 'Trygve'),
(6, 'Trygve2'),
(7, 'Henke'),
(8, 'Preferences'),
(9, 'Christian'),
(10, 'Demo'),
(11, 'Preference ss'),
(12, 'ee'),
(13, 'tets');

INSERT INTO bruker(id, bruker, passord)
VALUES
(1, 'chrisnyv', 'test'),
(2, 'testthea', 'testing');

INSERT INTO course(courseID, code, name)
VALUES
(1, 'TDT4140', 'Software Engineering'),
(2, 'TDT4145', 'Data Modelling, Databases and Database Management Systems'),
(3, 'TDT4180', 'Human-Computer Interaction'),
(4, 'TMA4140', 'Discrete Mathematics');



INSERT INTO question(questionID, topicID, userID, question)
VALUES
(1, 10, 1, 'Hvor mange øvinger må man ha godkjent');

INSERT INTO rating(ratingID, topicID, userID, stars)
VALUES
(112, 10, 1, 3),
(113, 6, 1, 1),
(114, 11, 1, 5),
(115, 10, 1, 3),
(116, 1, 1, 1),
(117, 1, 1, 4),
(118, 1, 1, 1);
