.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow,
.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.root{
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #5ac1fc;
}

.button {
	-fx-color: #3b88b5;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.button:hover {
	-fx-color: #5ac1fc;
}

.column-header {
	-fx-text-background-color: white;
	-fx-color: #3b88b5;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #3b88b5, #3b88b5;
}

.tab:selected{
	-fx-border-style: solid;
	-fx-border-width: 5px 1px 1px 1px;
	-fx-border-color: black black white black;
	-fx-font-weight: bold;
	-fx-background-color: white;
}

.tab:selected .tab-label{
	-fx-text-fill: black;
}

.tab:selected:hover{
	-fx-border-style: solid;
	-fx-border-width: 5px 1px 1px 1px;
	-fx-border-color: black black white black;
	-fx-font-weight: bold;
	-fx-background-color: white;
}

.tab-pane {
 	-fx-tab-min-width:240px;
 	-fx-tab-max-width:240px;
}

.tab {
	-fx-background-color: #3b88b5;
	-fx-border-style: solid;
	-fx-border-width: 5px 1px 1px 1px;
	-fx-border-color: #3b88b5;
}

.tab:hover{
	-fx-background-color: #5ac1fc;
	-fx-border-style: solid hidden hidden hidden;
	-fx-border-color: #aaaaaa;
}

.innertab .tab-header-background, .innertab .tab{
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-border-style: solid;
	-fx-border-width: 1px 1px 5px 1px;
}

.innertab .tab:selected{
	-fx-border-color: white white black white;
}

.innertab .tab:hover{
	-fx-background-color: #d3d3d3;
	-fx-border-color: #d3d3d3;
}

.innertab .tab:selected:hover {
	-fx-background-color: white;
	-fx-border-color: white white black white;
	-fx-border-style: solid;
	-fx-border-width: 1px 1px 5px 1px;
}

.innertab .tab-label{
	-fx-text-fill: black;
}

.tab-label{
	-fx-text-fill: white;
}

.tab-header-background{
 	-fx-background-color: #3b88b5;
}

.anchor {
	-fx-background-color: white;
}

.refresh{
	-fx-color: white;
	-fx-text-fill: black;
	-fx-font-weight: normal;
	-fx-background-image: url('/refresh_img.png');
	-fx-background-size: 75%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.refresh:hover{
	-fx-color: #e5e5e5;
	-fx-background-size: 80%;
}

.button:focused,
.toggle-button:focused,
.radio-button:focused > .radio,
.check-box:focused > .box,
.menu-button:focused,
.choice-box:focused,
.color-picker.split-button:focused > .color-picker-label,
.combo-box-base:focused,
.slider:focused .thumb {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.scroll-pane:focused,
.split-pane:focused,
.list-view:focused,
.tree-view:focused,
.table-view:focused,
.tree-table-view:focused,
.html-editor:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.radio-button > .radio, .radio-button:focused > .radio  {   
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */    
    -fx-padding: 0.333333em; /* 4 -- padding from outside edge to the inner black dot */ 
}
.split-menu-button:focused {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border; 
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-background-radius: 3, 3;
}
.split-menu-button:focused > .label {
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 1 0 1 1, 2 1 2 2;
    -fx-background-radius: 2 0 0 2, 1 0 0 1;
    -fx-padding: 0.333333em 0.667em 0.333333em 0.667em; /* 4 8 4 8 */
}
.split-menu-button:focused > .arrow-button {
    -fx-background-color: -fx-inner-border, -fx-body-color; 
    -fx-background-insets: 1, 2;
    -fx-background-radius: 0 2 2 0, 0 1 1 0;
    -fx-padding: 0.5em 0.667em 0.5em 0.667em; /* 6 8 6 8 */
}

.scroll-bar:focused {
    -fx-background-color: derive(-fx-box-border,30%), linear-gradient(to bottom, derive(-fx-base,-3%), derive(-fx-base,5%) 50%, derive(-fx-base,-3%));
    -fx-background-insets: 0, 1 0 1 0;
}
.scroll-bar:vertical:focused {
    -fx-background-color: derive(-fx-box-border,30%), linear-gradient(to right, derive(-fx-base,-3%), derive(-fx-base,5%) 50%, derive(-fx-base,-3%));
    -fx-background-insets: 0, 0 1 0 1;
}

.text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-prompt-text-fill: transparent;
}

.text-area:focused .content {
    -fx-background-color:
        linear-gradient(from 0px 0px to 0px 4px, derive(-fx-control-inner-background, -8%), -fx-control-inner-background);
    -fx-background-radius: 2;
}

.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
}

.color-picker.split-button:focused > .arrow-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 1 1 0, 1, 2;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
}